@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Hind Siliguri";


}
  /* top bar styling  */
  .top-bar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #F6F6F6;
    width: 1440px;
    height: 56px;

  }

  .top-bar-phn{
    font-family: Hind Siliguri;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
    color: #232323;
    height: 23px;
  }
.top-bar div p{
  font-family: Hind Siliguri;
font-size: 14px;
font-weight: 400;
line-height: 23px;
letter-spacing: 0em;
text-align: center;
color:  #232323;

}
.top-bar div h5{
  font-family: Hind Siliguri;
  font-size: 18px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;
  color: #9E3040;
}
 

/* nav bar styling  */
.nav-bar{
  width: 1440px;
height: 109px;
display: flex;
justify-content: space-evenly;
align-items: center;
/* top: 56px; */
background-color: #FFFFFF;
box-shadow: 0px 4px 14px 0px #0000001A;

}

.nav-bar-1s{
margin: 0 20px;
  margin: 10px;

height: 49px;
.nav-bar-1s p{
  font-family: 'Hind Siliguri';
}

}
.nav-bar p{

  font-family: Hind Siliguri;
font-size: 30px;
font-weight: 600;
line-height: 49px;
letter-spacing: 0em;
text-align: center;
color:  #9E3040;

}


nav {
  overflow: hidden;
  
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

a {
  display: block;
  color: #686868;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Hind Siliguri;
font-size: 18px;
font-weight: 500;
line-height: 29px;
letter-spacing: 0em;
text-align: center;

}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1000;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  display: block;
  text-decoration: none;
}
.dropdown:hover .dropdown-content {
  display: block;
}

/* 
icon box styling  */
.nav-bar-3s{
  
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 49px;
  height: 49px;
/* top: 86px;
left: 1159px; */
border-radius: 5px;
box-shadow: 0px 0px 10px 0px #00000017;
}

.icon img{

  width: 22.88px;
height: 22px;
/* top: 99px;
left: 1172px; */

}


/* 4th section in nav bar */
.nav-bar-4s{
  width: 126px;
height: 49px;
/* top: 86px
left: 1234px */
border-radius: 5px;
display: flex;
justify-content: center;
align-items: center;
background-color: #9E3040;
box-shadow: 0px 0px 10px 0px #9E30402B;


}
.nav-bar-4s button{
  color: #FFFFFF;
  width: 62px;
height: 29px;
/* top: 96px
left: 1266px */


}

.main-img {
  position: relative;
  width: 1440px;
height: 750px;



}
.main-img-1s{
  position: absolute;
  width: 422px;
  height: 150px;
  top: 247px;
  left: 80px;
}

.main-img-1s h1{
  position: absolute;
  font-family: Hind Siliguri;
font-size: 64px;
font-weight: 600;
line-height: 75px;
letter-spacing: 0em;
text-align: left;
color: #F6F6F6;

}
.main-img-2s{
  position: absolute;
  width: 458px;
  height: 33px;
  top: 416px;
  left: 80px;
}
.main-img-2s p{
  font-family: Open Sans;
font-size: 24px;
font-weight: 400;
line-height: 33px;
letter-spacing: 0em;
text-align: left;
color: #FFFFFF;

}

.main-img-3s{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 187px;
  height: 49px;
  top: 482px;
  left: 81px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px #00000040;
  background: #FFFFFF;
}
.main-img-3s button{
  width: 132px;
height: 29px;
top: 640px;
left: 108px;
color: #9E3040;
font-weight: bolder;

}


/* main-b0x-2 stylling */
.main-box-2{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1440px;
  background: url(/src/assets/images/icons/dotBgc.png);
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  margin: 60px 0px;
  z-index: -10;
}


  .card{
width: 933px;
height: 194px;
display: flex;
justify-content: space-evenly;
align-items: center;
z-index: 10009;
}


.card-p{
  width: 192px;
  height: 194px;
  z-index: 10;

  
}
.card-c{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
height: 100px;
z-index: 10009;
box-shadow: 0px 1px 10px 0px #00000040;
}

.card h3{
  width: 174px;
  height: 49px;
  font-family: "Hind Siliguri";
font-size: 30px;
font-weight: 600;
line-height: 49px;
letter-spacing: 0em;
text-align: center;
color: #232323;
}

.card p{
width: 252px;
height: 23px;
font-family: "Open Sans";
font-size: 17px;
font-weight: 400;
line-height: 23px;
letter-spacing: 0em;
text-align: left;
color:  #303030;

}
/* 
heading styling  */

.heading-1{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1440px;
}

.heading-1-c{
  width: 400px;
height: 58px;

}

.heading-1 p{
  font-family: 'Hind Siliguri';
font-size: 36px;
font-weight: 600;
line-height: 58px;
letter-spacing: 0em;
text-align: left;
color:  #232323;

}



.main-box3{
  background-color: red;
  height: 400px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-box3-left{
  background-color: green;
  width: 50%;
  height: 350px;
}
.main-box3-right{
  background-color: blue;
  height: 350px;
  padding: 10px;
  width: 50%;
}
.right1{
  background-color: black;
  height: 85px;
  width: 25%;

}
.right2{
  background-color: white;
  height: 85px;
  width: 25%;
}